<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nightout">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NightOut"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.EmergencyContactActivity"></activity>
        <activity android:name=".ui.activity.ProfileActivity" />
        <activity android:name=".ui.activity.FillterActvity" />
        <activity android:name=".ui.activity.EditProfileActivity" />
        <!--   <activity android:name=".ui.activity.FillterActvity"/>-->
        <activity android:name=".ui.activity.EditProfileActivity"></activity>
        <activity android:name=".ui.activity.NotificationActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.PaymentActivity" />
        <activity android:name=".ui.activity.MyCardsActivity" />
        <activity android:name=".ui.activity.ContactUsActivity" />
        <activity android:name=".ui.activity.FAQActivity" />
        <activity android:name=".ui.activity.LostItemDetailsActvity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.OTPActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

    <!--    <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />-->

        <activity
            android:name=".ui.activity.SearchLocationActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.VenuListActvity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.VenuListMapActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.StoreDetail"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.PreBookingActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.FoodStoreActvity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.TicketConfirmActvity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.BookTicketActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.EventDetail"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.TermsNCondActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.CongrtulationActvity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.RatingActvity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.ChatPersonalActvity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.CreateGroupActvity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.GroupInfoActvity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.FillterActvity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.TrackTrace"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>